# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Uploaded PDFs
backend/app/uploads/

# Model cache
.cache/
huggingface/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# PyTorch checkpoints (optional)
*.pt
*.pth

# Trained SciBERT model
backend/models/scibert_domain_classifier/
# Qdrant local database
backend/app/qdrant_data/
